:root {
  --icon-width: 18px;
  --error-border-color: rgb(190, 17, 0);
  --error-background-color: rgb(90, 29,29);
}

body {
  background-color: transparent;
}

.toggle-details {
  display: flex;
  justify-content: flex-end;
  height: 0;
}
.add-change, .transform {
  width: calc(100% - 24px);
}

.multi-editor-status {
  width: calc(100% - 24px);
}

.save-import {
  display: flex;
  flex-direction: row;
}
.change-list {
  list-style: none;
  padding: 0;
}
.change-options {
  display: flex;
  flex-direction: row;
}
.multichange-input-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

li.change {
  position: relative;
}

.input-block {
  position: relative;
}

.input-block vscode-text-field {
  width: 100%;
}

.input-block.error vscode-text-field {
  border: 1px solid var(--error-border-color);
}

.input-block.error vscode-text-field:focus {
  outline: none;
}

.input-block .error-description {
  display: none;
  border: 1px solid var(--error-border-color);
  background: var(--error-background-color);
  z-index: 10;
  position: absolute;
  padding: 4px;
  transform: translateY(-2px);
}

.input-block.error:focus-within .error-description {
  display: block;
}


.find-options {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rank-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.change-options .codicon {
  color: #c5c5c5;
  width: var(--icon-width);
  height: var(--icon-width);
  opacity: 0.7;
}
.change-options .codicon:hover {
  opacity: 1;
}

.change-options .codicon.disabled {
  opacity: 0;
  cursor: arrow;
}

.change-options .codicon.set {
  border-color: rgb(117, 113, 94);
  color: rgb(255, 255, 255);
  background-color: rgba(117, 113, 94, 0.4);
}
.controls {
	position: relative;
	
}

.controls .multi-editor-toggle {
	position: absolute;
	right: 0;
}
