:root {
	--icon-width: 18px;
}

body {
	background-color: transparent;
}

.toggle-details {
    display: flex;
    justify-content: flex-end;
	height: 0;
}

.details {
	margin-bottom: 10px;
}

.details * {
	display: none;
}

.details.visible * {
	display: block;
}
.details.visible .save-import {
	display: flex;
}
.save-import * {
	margin-right: calc(var(--design-unit) * 1px);;
}

.multi-editor {
	margin-bottom: calc(var(--design-unit) * 1px);
}

.multi-editor-toggle {
	width: fit-content;
}

.multi-editor-status {
	width: calc(100% - 24px);
}

.save-import {
	display: flex;
	flex-direction: row;
}
.change-list {
	list-style: none;
	padding: 0;
}
.change-options {
	display: flex;
	flex-direction: row;
}
.multichange-input-fields {
    display: flex;
    flex-direction: column;
	width: 100%;
    justify-content: space-around;
}

li.change {
    position:  relative;
}

.input-block {
	position: relative;
}

.input-block vscode-text-field {
	width: 100%;
}

.find-options {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rank-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.change-options .codicon {
	color: #c5c5c5;
	width: var(--icon-width);
	height: var(--icon-width);
	opacity: 0.7;
}
.change-options .codicon:hover {
	opacity: 1;
}

.change-options .codicon.disabled {
	opacity: 0;
	cursor: arrow;
}

.change-options .codicon.set {
	border-color: rgb(117, 113, 94); color: rgb(255, 255, 255); background-color: rgba(117, 113, 94, 0.4);
}
